name: "Validate PR title"

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
  main:
    uses: HedgehogDev/gh-workflow-common/.github/workflows/pr-title.yml@main
    secrets: inherit
